/* IMPORTS */
/* VARIÁVEIS */

:root{
   /* ========= CORES PRINCIPAIS ========= */

    --red: #B11F28;
    --red-hover: #C92A34;
    --red-dark: #86171E;

    --gold: #CBA55B;
    --gold-light: #DFC58D;
    --gold-dark: #9A7538;

    --beige: #E8DDD1;
    --beige-light: #F6F2EC;
    --beige-dark: #CDBAA3;

    --white: #FFFFFF;

    --text: #ECE6D8;
    --text-light: #BFB8AC;
    --text-dark: #7E776C;

    --dark: #070707;
    --dark-2: #111111;
    --dark-3: #1A1A1A;
    --dark-4: #242424;

    /* WhatsApp */
    --whatsapp: #25D366;
    --whatsapp-hover: #1EBE5B;
    --whatsapp-dark: #128C7E;

    --border: rgba(255,255,255,.08);

    --overlay: rgba(0,0,0,.55);
    --overlay-dark: rgba(0,0,0,.75);

    /* ========= FONTES ========= */

    --font-title: "Cormorant Garamond", serif;
    --font-text: "Jost", sans-serif;

    /* ========= TAMANHOS ========= */

    --container: 1280px;
    --header-height: 90px;

    /* ========= BORDAS ========= */

    --radius: 14px;
    --radius-lg: 22px;
    --radius-full: 999px;

    /* ========= SOMBRAS ========= */

    --shadow-sm: 0 6px 20px rgba(0,0,0,.15);
    --shadow: 0 12px 40px rgba(0,0,0,.30);
    --shadow-lg: 0 20px 60px rgba(0,0,0,.45);

    /* ========= TRANSIÇÕES ========= */

    --transition: .35s ease;
}

/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--dark);
    color:var(--text);
    font-family:var(--font-text);
    overflow-x:hidden;
}

img{
    display:block;
    max-width:100%;
}

a{
    color:inherit;
    text-decoration:none;
}

button{
    border:none;
    background:none;
    cursor:pointer;
    font-family:inherit;
}

ul{
    list-style:none;
}

input,
textarea,
select{
    font-family:inherit;
    outline:none;
}

section{
    position:relative;
}

.container{
    width:min(100% - 40px, var(--container));
    margin:auto;
}

/* TIPOGRAFIA */

h1,h2,h3,h4,h5,h6{
    font-family:var(--font-title);
    font-weight:500;
    color:var(--white);
}

p{
    line-height:1.7;
}

span{
    font-family:var(--font-text);
}


/* Logo e menu */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: .4s ease;
}
/* Animações quando scrollar */
header.scrolled {
  background: rgba(5, 5, 5, .88);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, .05);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
/* Foto da logo no header */
.logo img {
  height: 58px;
}
/* Menu */
nav {
  display: flex;
  gap: 42px;
  align-items: center;
}

nav a {
  color: #dad2c3;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: .3s ease;
}

nav a:hover {
  color: var(--gold-light);
}

.btn-menu {
  border: 1px solid var(--gold);
  padding: 12px 26px;
  border-radius: 50px;
}
/*Botao menu quando estiver em telas menores*/
#burger {
  display: none;
}